.sofatime {
  display: inline-block;
  border: 1px solid #000;
  padding: .5em;
}

.startTime {
  background-color: #CCFFCC;
}
.sofatime-end {
  background-color: #FFCCCC;
}
.sofatime-start {
  display: inline-block;
  box-sizing: border-box;
  border: 2px solid #000;
}
.sofatime-select {
  font-family: monospace;
}
